{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="contain">
  <div class="container">
   <div class="music-player">
     
     {% for item in post %}
    <div class="cover">
     <img alt="" src="{{item.image.url}}"/>
    </div>
    <div class="titre">
     <h3>
       <a href="/detail/{{item.id}}/" style="text-decoration:none; color:#fff;">{{item.artist_names}}</a>
     </h3>
     <h1>
      {{item.title}}
     </h1>
    </div>
    <center><a href="{% if post.has_previous %}?page={{ post.previous_page_number }}{% endif %}"><i class="fa fa-step-backward fa-2x"></i></a> &nbsp; &nbsp; &nbsp; <a href="{% if post.has_next %}?page={{ post.next_page_number }} {% endif %}"><i class="fa fa-step-forward fa-2x"></i></a></center>
    <div class="lecteur">
     <audio class="fc-media" style="width: 100%;">
      <source src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}" type="audio/mp3"/>
     </audio>

    </div>
    {% endfor %}
   </div>
  </div>
 </div>
{% endblock content %}
  


